@font-face {
    font-family: 'Jersey10-Regular';
    src: url('./fonts/Jersey10-Regular.ttf');
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jersey10-Regular';
    font-size: 40px;
}

body {
    /* overflow: hidden; */
    background-color: black;
    background-image: url('./img/5_background/background_pattern.png');
    display: flex;
    justify-content: center;
    align-items: center
}

.frame {
    position: relative;
    aspect-ratio: 3 / 2;
    max-width: 720px;
    outline: 10px solid black;
    top: 60px;
}

.game-result_wrapper {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0;
    transition: opacity 0.5s;
}

.bg-won {
    opacity: 1;
    background-image: url('./img/9_intro_outro_screens/won/Won.png');
    animation: won-animation 14s infinite;
}

.bg-gameover {
    opacity: 1;
    background-image: url('./img/9_intro_outro_screens/game_over/GameOver.png');
    animation: gameover 14s infinite;
}

.action-buttons {
    width: 100%;
    height: 14%;
    position: absolute;
    display: flex;
    justify-content: space-around;
    gap: 1%;
    margin-top: 35%;
    padding: 2%;
}

.sound-screen-controlls {
    width: 100%;
    height: 13%;
    position: absolute;
    display: flex;
    flex-direction: row-reverse;
    gap: 1%;
    padding: 2%;
    z-index: 3;
}

.controlls {
    height: 100%;
    aspect-ratio: 1 / 1;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    border: none;
    outline: none;
    cursor: pointer;
}

.unmute {
    background-image: url(./img/1_icons/unmute_invert.png);
}

.unmute:hover {
    background-image: url(./img/1_icons/unmute.png);
}

.mute {
    background-image: url(./img/1_icons/mute_invert.png);
}

.mute:hover {
    background-image: url(./img/1_icons/mute.png);
}

.resize {
    background-image: url(./img/1_icons/resize_invert.png);
}

.resize:hover {
    background-image: url(./img/1_icons/resize.png);
}

.home {
    background-image: url(./img/1_icons/home_invert.png);
}

.home:hover {
    background-image: url(./img/1_icons/home.png);
}

.replay {
    background-image: url(./img/1_icons/replay_invert.png);
}

.replay:hover {
    background-image: url(./img/1_icons/replay.png);
}

.arrow-left {
    background-image: url(./img/1_icons/arrow_left.png);
}

.arrow-left:hover {
    background-image: url(./img/1_icons/arrow_left_invert.png);
}

.arrow-right {
    background-image: url(./img/1_icons/arrow_right.png);
}

.arrow-right:hover {
    background-image: url(./img/1_icons/arrow_right_invert.png);
}

.arrow-jump {
    background-image: url(./img/1_icons/arrow_up.png);
}

.arrow-jump:hover {
    background-image: url(./img/1_icons/arrow_up_invert.png);
}

.btn-shoot {
    background-image: url(./img/1_icons/shoot.png);
}

.btn-shoot:hover {
    background-image: url(./img/1_icons/shoot_invert.png);
}

.menu {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
    z-index: 1;
    background-image: url('./img/9_intro_outro_screens/start/Startbildschirm.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    animation: lightning 14s infinite;
}

.btn-menu {
    height: 12%;
    width: 25%;
    text-align: center;
    font-size: 4.5vh;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: transparent;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.start {
    margin-top: 12%;
    background-image: url('./img/1_icons/menu_start_invert.png');
}

.start:hover {
    background-image: url('./img/1_icons/menu_start.png');
}

.controls {
    background-image: url('./img/1_icons/menu_controls_invert.png');
}

.controls:hover {
    background-image: url('./img/1_icons/menu_controls.png');
}

canvas {
    background-color: #b3afbb;
    display: block;
    width: 100%;
    height: 100%;
    background-color: black;
}

.hidden {
    display: none !important;
}

.btns-mobile-wrapper {
    display: none;
    height: 10%;
    width: 100%;
    position: absolute;
    bottom: 0;
    justify-content: space-between;
    z-index: 3;
    margin-bottom: 3%;
}

.panel-wrapper-left {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
}

.panel-wrapper-right {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}

@media only screen and (max-height: 760px) {
    .frame {
        width: 100%;        
        top: 0;
    }
}

@media only screen and (max-height: 480px) {
    .frame {
        height: 100vh;
        top: 0; 
    }
}

@media (max-width: 900px) {
    .btns-mobile-wrapper {
        display: flex;
    }
}

@media (hover: none) and (pointer: coarse) {
    .btns-mobile-wrapper {
        display: flex;
    }
}

.btns-mobile-wrapper.hidden {
    display: none !important;
}